.users {
    margin: 0 auto;
    height: 52px;
    width: 1320px;
    display: grid;
    grid-template-columns:repeat(2, 500px);
    grid-gap: 10px;
    padding: 10px 15px;
    background: silver;
}
.btn:hover{
    background: greenyellow;
}